# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

dataset - [example.csv](https://github.com/thisarakaushan/Data-Analysis-using-Pandas-and-Numpy/blob/main/datasets/example)

In [2]:
# Read the data from csv file which is in same directory of this file.
# If not we need to use ./path/filename.csv

df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [3]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash. 

dataset: [Excel_Sample.xlsx](https://github.com/thisarakaushan/Data-Analysis-using-Pandas-and-Numpy/blob/main/datasets/Excel_Sample.xlsx)

### Excel Input

In [12]:
# Read the data from xlsx file which is in same directory of this file.
# If not we need to use ./path/filename.xlsx

pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

TypeError: read_excel() got an unexpected keyword argument 'sheetname'

*sheetname='Sheet1': 
    
    - This specifies the name of the sheet within the Excel file that you want to read. 
    - In this case, the code is reading data from the sheet named "Sheet1". 
    - If the sheet name is different, you can modify this parameter accordingly.

In [5]:
pd.read_excel('Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [6]:
df.to_excel('Excel_Sample.xlsx')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [ ]:
df = pd.read_html('file.html')

In [ ]:
df[0]


_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('sqlite:///:memory:')

In [9]:
df.to_sql('data', engine)

4

In [10]:
sql_df = pd.read_sql('data',con=engine)

In [11]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15